.header_Container {
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header_Wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  display: none;
}

.hamburger .horizontal {
  width: 25px;
  height: 2px;
  margin: 3px 0px;
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .header_Wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    outline: none;
  }
}
